:root {
    --foot-h: 55px;
}

html,
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
}

#map {
    height: calc(100vh - var(--foot-h));
    width: 100%;
    background-color: #262626;
}

#header {
    background: #111;
    height: var(--foot-h);
    width: 100%;
    display: inline-flex;
    border-bottom: solid white 2px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#header div {
    display: inline-block;
}

#header #play {
    background-image: url('/img/play.png');
    display: none;

}

#header #pause {
    background-image: url('/img/pause.png');
    display: none;
}

#header #play,
#header #pause {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 15px 0 15px 20px;
    height: calc(var(--foot-h) - 30px);
    width: calc(var(--foot-h) - 30px);
    filter: invert(100%);
}

#header #playing {
    margin-left: 20px;
}

.leaflet-popup-content h2 {
    cursor: pointer;
}